In [9]:
import pandas as pd
import numpy as np
import requests

In [13]:
# dataset = "../data/Lottery_Powerball_Winning_Numbers__Beginning_2010.csv";
# Powerball API
ny_json = "https://data.ny.gov/api/views/d6yy-54nr/rows.json?accessType=DOWNLOAD";
r = requests.get(ny_json);
data = r.json();

In [14]:
# Read the json into pandas dataframe
df = pd.DataFrame(data=data["data"]);

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,row-nx2r_usun.g52b,00000000-0000-0000-9D99-B9EA775FDC5E,0,1619710755,None,1619710755,None,{ },2020-09-26T00:00:00,11 21 27 36 62 24,3
1,row-e8ru_54jr.pm4v,00000000-0000-0000-43B5-52ACB7706E11,0,1619710755,None,1619710755,None,{ },2020-09-30T00:00:00,14 18 36 49 67 18,2
2,row-tq8m.jys2~s8vu,00000000-0000-0000-A5B2-0AAE86635EA3,0,1619710755,None,1619710755,None,{ },2020-10-03T00:00:00,18 31 36 43 47 20,2
3,row-fyha_3jj2-8cdk,00000000-0000-0000-8755-E68E26427D31,0,1619710755,None,1619710755,None,{ },2020-10-07T00:00:00,06 24 30 53 56 19,2
4,row-t7k7-dhjv-h47w,00000000-0000-0000-EF27-CF03FBB38022,0,1619710755,None,1619710755,None,{ },2020-10-10T00:00:00,05 18 23 40 50 18,3
...,...,...,...,...,...,...,...,...,...,...,...
1749,row-rqbz~dziz_k4gx,00000000-0000-0000-6181-1D09ADE92EBA,0,1740481271,None,1740481271,None,{ },2025-02-24T00:00:00,10 11 34 59 68 14,3
1750,row-uh98~yywv.9ef6,00000000-0000-0000-23F8-FC02125E674C,0,1740654077,None,1740654077,None,{ },2025-02-26T00:00:00,28 48 55 60 62 20,2
1751,row-2npb.ypt8.sa6p,00000000-0000-0000-09B6-3FDEBBBCEEEF,0,1740913259,None,1740913259,None,{ },2025-03-01T00:00:00,02 23 36 44 49 25,3
1752,row-wub2~s43g_z6q2,00000000-0000-0000-B19C-7F6B9D90992B,0,1741086076,None,1741086076,None,{ },2025-03-03T00:00:00,18 20 50 52 56 20,2
1753,row-xa63-fvh6-im2z,00000000-0000-0000-51D0-AE0EF55D3A7B,0,1741258880,None,1741258880,None,{ },2025-03-05T00:00:00,24 28 40 63 65 20,3

In [16]:
# Drop all irrelevant columns, except for time and winning number data (column 9)
df.drop([0, 1, 2, 3, 4, 5, 6, 7, 10], axis=1, inplace=True);
# power_df = df.drop([0, 1, 2, 3, 4, 5, 6, 7, 9], axis=1);

In [17]:
# Replace the name of each column
df.rename({8:"time", 9:"winning"}, axis=1, inplace=True);

In [18]:
df

                     time            winning
0     2020-09-26T00:00:00  11 21 27 36 62 24
1     2020-09-30T00:00:00  14 18 36 49 67 18
2     2020-10-03T00:00:00  18 31 36 43 47 20
3     2020-10-07T00:00:00  06 24 30 53 56 19
4     2020-10-10T00:00:00  05 18 23 40 50 18
...                   ...                ...
1749  2025-02-24T00:00:00  10 11 34 59 68 14
1750  2025-02-26T00:00:00  28 48 55 60 62 20
1751  2025-03-01T00:00:00  02 23 36 44 49 25
1752  2025-03-03T00:00:00  18 20 50 52 56 20
1753  2025-03-05T00:00:00  24 28 40 63 65 20

[1754 rows x 2 columns]

In [30]:
# Sort the dataframe based on the time column
df["time"] = pd.to_datetime(df["time"]);
df.sort_values(by="time", ascending=True, inplace=True);

In [31]:
df

           time            winning
1169 2010-02-03  17 22 36 37 52 24
1168 2010-02-06  14 22 52 54 59 04
1167 2010-02-10  05 08 29 37 38 34
1166 2010-02-13  10 14 30 40 51 01
1165 2010-02-17  07 08 19 26 36 15
...         ...                ...
1749 2025-02-24  10 11 34 59 68 14
1750 2025-02-26  28 48 55 60 62 20
1751 2025-03-01  02 23 36 44 49 25
1752 2025-03-03  18 20 50 52 56 20
1753 2025-03-05  24 28 40 63 65 20

[1754 rows x 2 columns]

In [32]:
# Create numpy arrays with the winning numbers for each timestamps in the lottery history.
win_list = list(df["winning"]);
win_list = [i.split(" ") for i in win_list];
win_list = [np.array([int(j) for j in i]) for i in win_list];